body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: rgb(156, 190, 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{ 
  display: inline-block;
  margin-top: 5%;
  min-width: 50%;
  width: auto;
  box-sizing: border-box;
  padding: 5px;
  background: rgb(187,187,187);
  background: linear-gradient(34deg, rgba(187,187,187,1) 0%, rgba(255,192,0,1) 100%);
  border: 2px solid green;
  border-radius: 20px;
}
.todo-form{
  display: inline-block;
  box-sizing: border-box;
  min-width: 30%;
  width: auto;
  padding: 5px;
  background-color: rgb(173, 173, 173);
  border: 2px solid green;
  border-radius: 20px;
  margin-top: 5%;
}

.btn{
  box-shadow:inset 0px 1px 3px 0px black;
	background: rgb(78,214,164);
	border-radius:5px;
	border:1px solid gray;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
}

.btn-del{
  box-shadow:inset 0px 1px 3px 0px black;
	background: rgb(252, 99, 99);
	border-radius:5px;
	border:1px solid gray;
	display:inline-block;
	cursor:pointer;
	padding:5px 8px;
  text-decoration:none;
  text-align: right;
}

.btn-del-all{
  box-shadow:inset 0px 1px 3px 0px black;
	background: rgb(252, 99, 99);
	border-radius:5px;
	border:1px solid gray;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	padding:11px 23px;
	text-decoration:none;
}
.input-form{
  display: inline-block;
  border: none;
  outline: none;
  border: 2px solid gray;
  padding: 12px 1px;
  border-radius: 8px;
}

.header{
  margin-top: 2%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

